In [1]:
l  = ["sudh" , 234,45.56, [45,56,6,"c"] , True]

In [2]:
for i in l:
    print(i)

sudh
234
45.56
[45, 56, 6, 'c']
True

In [3]:
l[0]

'sudh'

In [4]:
l[::-1]

[True, [45, 56, 6, 'c'], 45.56, 234, 'sudh']

In [5]:
for i in l :
    if type(i)== list :
        print("this is a list " ,i)
    else :
        print("no element is not a list ", i)

no element is not a list  sudh
no element is not a list  234
no element is not a list  45.56
this is a list  [45, 56, 6, 'c']
no element is not a list  True

In [6]:
l

['sudh', 234, 45.56, [45, 56, 6, 'c'], True]

In [7]:
l1= [345,2345, "ineuron" , "tech "]

In [8]:
l+l1

['sudh', 234, 45.56, [45, 56, 6, 'c'], True, 345, 2345, 'ineuron', 'tech ']

In [9]:
l*2

['sudh',
 234,
 45.56,
 [45, 56, 6, 'c'],
 True,
 'sudh',
 234,
 45.56,
 [45, 56, 6, 'c'],
 True]

In [10]:
len(l)

5

In [11]:
234 in l

True

In [12]:
print(max([2,3,4,5,45.56]))

45.56

In [13]:
max(["sdfs","sdfs" , 234])

TypeError: '>' not supported between instances of 'int' and 'str'

In [14]:
max(["sudh" , "ineruon" , "AI","z"])

'z'

In [15]:
min(["fsdfa3434","fsd","fsdfaaaaaaaaa","a" , "A"])

'A'

In [16]:
min([2,3,4,5,0])

0

In [17]:
min("34345",234,234.345,"344")

TypeError: '<' not supported between instances of 'int' and 'str'

In [18]:
l = [1,2,3,4]

In [19]:
l.append(6+6j)

In [20]:
l

[1, 2, 3, 4, (6+6j)]

In [21]:
l+'ajs'

TypeError: can only concatenate list (not "str") to list

In [22]:
l.append('aghsdjha')

In [23]:
l

[1, 2, 3, 4, (6+6j), 'aghsdjha']

In [24]:
l = [1,2,3,4,5]
l.append("sudh")

In [25]:
l

[1, 2, 3, 4, 5, 'sudh']

In [26]:
l.insert(3,'ineuron')
l

[1, 2, 3, 'ineuron', 4, 5, 'sudh']

In [27]:
l.insert(-1,'test')

In [28]:
l

[1, 2, 3, 'ineuron', 4, 5, 'test', 'sudh']

In [29]:
l.insert(0,'test')
l

['test', 1, 2, 3, 'ineuron', 4, 5, 'test', 'sudh']

In [30]:
l.insert(-1,'test')
l

['test', 1, 2, 3, 'ineuron', 4, 5, 'test', 'test', 'sudh']

In [31]:
l.insert(-1,'test2')
l

['test', 1, 2, 3, 'ineuron', 4, 5, 'test', 'test', 'test2', 'sudh']

In [32]:
l.count('test')

3

In [33]:
l = [1,2,3,4]
l.append([3,4,7,89])
l

[1, 2, 3, 4, [3, 4, 7, 89]]

In [34]:
l.extend('test1')

In [35]:
l

[1, 2, 3, 4, [3, 4, 7, 89], 't', 'e', 's', 't', '1']

In [36]:
#extend and string in list works as same
s= "test"
list(s)

['t', 'e', 's', 't']

In [37]:
l.append(67)

In [38]:
#extend works only on iterable objects
l.extend(67)

TypeError: 'int' object is not iterable

In [39]:
l

[1, 2, 3, 4, [3, 4, 7, 89], 't', 'e', 's', 't', '1', 67]

In [41]:
l =[1,2,3,4]
l.extend([3,4,7,89,["ajhdgjh",4,5]])
l

[1, 2, 3, 4, 3, 4, 7, 89, ['ajhdgjh', 4, 5]]

In [42]:
l.index(3)

2

In [43]:
l =[2,3,4,5,6,7]

In [44]:
l.pop()

7

In [45]:
l

[2, 3, 4, 5, 6]

In [46]:
#used to remove the object based on index
l.pop(0)

2

In [47]:
l

[3, 4, 5, 6]

In [48]:
#remove used to remove the object based on the pattern/match
l =[4,5,6,7,8,8,9]
l.remove(8)
l

[4, 5, 6, 7, 8, 9]

In [49]:
l.reverse()
l

[9, 8, 7, 6, 5, 4]

In [50]:
l.sort()
l

[4, 5, 6, 7, 8, 9]

In [51]:
l =[2,5,4,6,5,'ahshs']
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [52]:
l =[9, 8, 7, 6, 5, 4]
l.sort()

In [53]:
l

[4, 5, 6, 7, 8, 9]

1.append 2more lists and a complext number in between
2.if your nested list contains the string, then find out the its index and print then remove the string
3.you have to extract second element of each nested list

In [100]:
#1answer
l =l =[9, 8, 7,4]
l.insert(3,["ahdvh",'ajdb0',3,5,8])
l.insert(3,["ahdvh",'ajdb0',3,5,8])
l.append(8+5j)
l

[9, 8, 7, ['ahdvh', 'ajdb0', 3, 5, 8], ['ahdvh', 'ajdb0', 3, 5, 8], 4, (8+5j)]

In [109]:
#2answer
for i in l:
    if type(i)==list:
        j=0
        while j<len(i):
            if type(i[j]) is str:
                print('index of the string {} is:'.format(i[j]),j)
            j =j+1
        j=0
        while j<len(i):
            if type(i[j]) is str:
                print("the string in the nested list is '{}'".format(i[j]))
                i.remove(i[j])
                continue
            j=j+1
print(l)

index of the string ahdvh is: 0
index of the string ajdb0 is: 1
the string in the nested list is 'ahdvh'
the string in the nested list is 'ajdb0'
index of the string ahdvh is: 0
index of the string ajdb0 is: 1
the string in the nested list is 'ahdvh'
the string in the nested list is 'ajdb0'
[9, 8, 7, [3, 5, 8], [3, 5, 8], 4, (8+5j)]

In [106]:
l= [9, 8, 7, ['ahdvh', 'ajdb0', 3, 5, 8], ['ahdvh', 'ajdb0', 3, 5, 8], 4, (8+5j)]

In [108]:
#3rd answer
for i in l:
    if type(i)== list:
        print("Second Element : ",i[1])

Second Element :  ajdb0
Second Element :  ajdb0

In [110]:
l =[1,2,3,45,5]

In [112]:
l1 =[]
for i in 'sudh':
    l1.append(i)
l1

['s', 'u', 'd', 'h']

In [113]:
#list comprehension
[i for i in 'sudh']

['s', 'u', 'd', 'h']

In [114]:
[[i] for i in 'sudh']

[['s'], ['u'], ['d'], ['h']]

In [115]:
l = []
for i in range(10):
    if i%2==0:
        l.append(i)
l

[0, 2, 4, 6, 8]

In [117]:
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [119]:
l=[]
for i in range(10):
    if i % 2!=0:
        l.append('odd')
    else:
        l.append('even')
l

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [120]:
['odd' if i%2!=0 else 'even' for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [121]:
mat = []
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [122]:
[[j for j in range(3)]for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [123]:
[i for i in range(8) if i % 2 == 0 if i % 3 == 0  ]

[0, 6]

In [124]:
l = []
for i in range(8):
    if i % 2 == 0 :
        if i % 3 == 0 :
            l.append(i)
l

[0, 6]

In [126]:
l = []
for i in range(10):
    l.append(i)

In [127]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [128]:
["yes " if i == 1  else "no" if i == 2 else "test " for i in l]

['test ',
 'yes ',
 'no',
 'test ',
 'test ',
 'test ',
 'test ',
 'test ',
 'test ',
 'test ']

In [129]:
res = []
for i in l :
    if i == 1 :
        res.append("yes")
    elif i ==2 :
        res.append("no")
    else :
        res.append("test")
res

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']