In [1]:
t =()
type(t)

tuple

In [2]:
l=[]
type(l)

list

In [3]:
t1 = (234,34,"sudh" , 3.45,True)
l1 = [234,34,"sudh" , 3.45,True]

In [4]:
t1[0]

234

In [5]:
t1[0:4]

(234, 34, 'sudh', 3.45)

In [6]:
t1[::-1]

(True, 3.45, 'sudh', 34, 234)

In [7]:
t1[-1]

True

In [8]:
l1[0]='raj'
l1

['raj', 34, 'sudh', 3.45, True]

In [9]:
t1[0]='raj'
t1

TypeError: 'tuple' object does not support item assignment

In [10]:
t2 = (23,45,654)

In [11]:
t1+t2

(234, 34, 'sudh', 3.45, True, 23, 45, 654)

In [12]:
t1*4

(234,
 34,
 'sudh',
 3.45,
 True,
 234,
 34,
 'sudh',
 3.45,
 True,
 234,
 34,
 'sudh',
 3.45,
 True,
 234,
 34,
 'sudh',
 3.45,
 True)

In [13]:
t1

(234, 34, 'sudh', 3.45, True)

In [14]:
34 in t1

True

In [15]:
"asdvhasd" in t1

False

In [16]:
t1

(234, 34, 'sudh', 3.45, True)

In [17]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [18]:
t3 =(45,89,6,5,789,32,2)

In [19]:
max(t3)

789

In [20]:
t4 =('ahgsjh','dhsghd','asdghdhja')

In [21]:
max(t4)

'dhsghd'

In [22]:
t1.index(34)

1

In [23]:
l1

['raj', 34, 'sudh', 3.45, True]

In [24]:
t1

(234, 34, 'sudh', 3.45, True)

In [25]:
t1=(234, 34, 'sudh', 3.45,34,34,34, True)

In [26]:
t1.index(34)

1

In [27]:
t1.count(34)

4

In [28]:
l1

['raj', 34, 'sudh', 3.45, True]

In [29]:
l1.index(6)

ValueError: 6 is not in list

In [30]:
min(t1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [31]:
t3 = (23, 343, 45, 454, 54)

In [32]:
min(t3)

23

In [33]:
min(t4)

'ahgsjh'

In [34]:
t

()

In [35]:
t1

(234, 34, 'sudh', 3.45, 34, 34, 34, True)

In [36]:
t5 =(90,45)

In [37]:
t1+t5

(234, 34, 'sudh', 3.45, 34, 34, 34, True, 90, 45)

In [38]:
t6 =56

In [39]:
l5 =list(t1)

In [40]:
l5

[234, 34, 'sudh', 3.45, 34, 34, 34, True]

In [41]:
tuple(l5)

(234, 34, 'sudh', 3.45, 34, 34, 34, True)

In [42]:
t = ((3,4,5,6,7) , ("sdfsd",45,45) , ("454",54) , 45,454,67 , [4,5,6,7,7])

In [43]:
t[6][1:4]

[5, 6, 7]

In [44]:
t[1][0]

'sdfsd'

In [45]:
for i in t :
    print(i)

(3, 4, 5, 6, 7)
('sdfsd', 45, 45)
('454', 54)
45
454
67
[4, 5, 6, 7, 7]

In [46]:
for i in t :
    if type(i)==tuple :
        print(i[0])

3
sdfsd
454

In [47]:
t1

(234, 34, 'sudh', 3.45, 34, 34, 34, True)

In [48]:
t2

(23, 45, 654)

In [49]:
if len(t1) == len(t2):
    print("its same ")
else :
    print("not same ")

not same

In [50]:
t = (234, 34, 'sudh', 3.45, 34, 34, 34, True , "kumar")

In [51]:
i = input("take a user input")

if i in t :
    print("yet s your name is available ")
else :
    print("your name is not available ")

take a user inputraj kocherlakota
your name is not available

In [52]:
t

(234, 34, 'sudh', 3.45, 34, 34, 34, True, 'kumar')

In [53]:
l1

['raj', 34, 'sudh', 3.45, True]

In [54]:
t1=(34)

In [55]:
del(t)

In [56]:
t

NameError: name 't' is not defined

In [57]:
del(l1)

In [58]:
l1

NameError: name 'l1' is not defined

In [59]:
l = [324,343,343,34]

In [60]:
t2

(23, 45, 654)

In [61]:
x = set()

In [64]:
type(x)

set

In [62]:
l = [34,45,45,45,45,67,34,56,78,"sudh","sudh","Sudh","kumar" ,45,454545454,545,4545,545 , [3,45,6]]

In [67]:
l = [34,45,45,45,45,67,34,56,78,"sudh","sudh","Sudh","kumar" ,45,454545454,545,4545,545]

In [68]:
s =set(l)

In [69]:
s

{34, 45, 4545, 454545454, 545, 56, 67, 78, 'Sudh', 'kumar', 'sudh'}

In [70]:
for i in s :
    print(i)

545
34
67
4545
sudh
45
78
kumar
454545454
56
Sudh

In [71]:
34 in s

True

In [72]:
s[0]

TypeError: 'set' object is not subscriptable

In [73]:
s=set()

In [74]:
s

set()

In [75]:
s.add(45)
s

{45}

In [76]:
s.add('sudh')

In [77]:
s.add('agdfg')

In [78]:
s.add([545,658])

TypeError: unhashable type: 'list'

In [79]:
s

{45, 'agdfg', 'sudh'}

In [80]:
s.add(45)

In [82]:
#duplicate values can't be added
s

{45, 'agdfg', 'sudh'}

In [83]:
s.remove(45)

In [84]:
s

{'agdfg', 'sudh'}

In [86]:
45 in s

False

In [87]:
s.clear()

In [88]:
s

set()

In [89]:
s.add('ahsfgh')

In [90]:
s.add(534)

In [91]:
s.add(23)

In [92]:
s.add('werty')

In [93]:
s

{23, 534, 'ahsfgh', 'werty'}

In [94]:
s1 =set(l)

In [95]:
s1

{34, 45, 4545, 454545454, 545, 56, 67, 78, 'Sudh', 'kumar', 'sudh'}

In [96]:
l = [345,5464566,54645,6546,4654,654,6]

In [97]:
s1

{34, 45, 4545, 454545454, 545, 56, 67, 78, 'Sudh', 'kumar', 'sudh'}

In [98]:
s+s1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [99]:
s*4

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [100]:
s

{23, 534, 'ahsfgh', 'werty'}

In [101]:
l4 = list(s)

In [102]:
l4.append(345)

In [103]:
l4

['ahsfgh', 'werty', 534, 23, 345]

In [104]:
t4 =tuple(s)

In [105]:
set(t4)

{23, 534, 'ahsfgh', 'werty'}

In [106]:
s

{23, 534, 'ahsfgh', 'werty'}

In [107]:
s[0]="asdjkjb"

TypeError: 'set' object does not support item assignment

In [108]:
x ={}

In [109]:
type(x)

dict

In [110]:
x ={'name':'raja','age':27}

In [111]:
type(x)

dict

In [112]:
x1 = {"name " :"sudh"  , "age": 3455 ,True : {45,34545,454,54}, "key" : False , 34554:(45,45,45,45) , "_sfsdf" : [34,45,454,54,545]}

In [113]:
x1

{'name ': 'sudh',
 'age': 3455,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [114]:
x2 = {"name " :{"k1":"wer",'k4' :[345,534535,534,]} , "age": 3455 ,True : {45,34545,454,54}, "key" : False , 34554:(45,45,45,45) , "_sfsdf" : [34,45,454,54,545]}

In [115]:
x2

{'name ': {'k1': 'wer', 'k4': [345, 534535, 534]},
 'age': 3455,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [188]:
x3 = {{5}:"wer",'k4' :[345,534535,534,]}

TypeError: unhashable type: 'set'

In [117]:
l =[34,45,65]
l[2]

65

In [118]:
x2['key']

False

In [121]:
x2[34554]

(45, 45, 45, 45)

In [123]:
x2["_sfsdf"]

[34, 45, 454, 54, 545]

In [122]:
x2["_sfsdf"][3]

54

In [124]:
x2["name "]

{'k1': 'wer', 'k4': [345, 534535, 534]}

In [125]:
x2["name "]['k4']

[345, 534535, 534]

In [126]:
x2["name "]['k4'][2]

534

In [127]:
x3 = {5:"wer",'k4' :[345,534535,534,]}

In [128]:
x4 = {"k4" :"Fsdfs"}

In [129]:
x3+x4

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [130]:
x3*3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [136]:
x3={5: 'wer', 'k4': 5455}

In [137]:
x3['k4']

5455

In [138]:
x3

{5: 'wer', 'k4': 5455}

In [139]:
x3['k4'] -=10

In [140]:
x3

{5: 'wer', 'k4': 5445}

In [141]:
x3['k4'] = x3['k4'] -10

In [142]:
x3

{5: 'wer', 'k4': 5435}

In [143]:
'k4' in x3.keys()

True

In [144]:
x3.keys()

dict_keys([5, 'k4'])

In [145]:
x3

{5: 'wer', 'k4': 5435}

In [146]:
x2

{'name ': {'k1': 'wer', 'k4': [345, 534535, 534]},
 'age': 3455,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [147]:
x2.keys()

dict_keys(['name ', 'age', True, 'key', 34554, '_sfsdf'])

In [149]:
for i in x2.keys():
    print(type(x2[i]))

<class 'dict'>
<class 'int'>
<class 'set'>
<class 'bool'>
<class 'tuple'>
<class 'list'>

In [150]:
x2.items()

dict_items([('name ', {'k1': 'wer', 'k4': [345, 534535, 534]}), ('age', 3455), (True, {54, 34545, 45, 454}), ('key', False), (34554, (45, 45, 45, 45)), ('_sfsdf', [34, 45, 454, 54, 545])])

In [151]:
for i in x2.items():
    print(i[1])

{'k1': 'wer', 'k4': [345, 534535, 534]}
3455
{54, 34545, 45, 454}
False
(45, 45, 45, 45)
[34, 45, 454, 54, 545]

In [152]:
x = {(34,45,56):"asfhjas"}

In [154]:
x[(34,45,56)]

'asfhjas'

In [155]:
x2

{'name ': {'k1': 'wer', 'k4': [345, 534535, 534]},
 'age': 3455,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [156]:
len(x2)

6

In [157]:
e = {56: {45, 78, 89}}
e[56]

{45, 78, 89}

In [158]:
list(e[56])[0]

89

input a paragraph with input function
1.keep paragraph in a list
2.remove the duplicates and keep it in a set
3.give the value as your name for the unique elements of the set in a dictionary
4.keep all the values in tuple
5.keep all the keys in alist

In [160]:
data=input("Enter the paragraph-->> ")

# Q1
data_list= data.split(" ")

# Q2
no_duplicate=set(data_list)

# Q3
my_dict={}
for i in no_duplicate:
    my_dict[i]="raja"
# my_dict

# Q4
tup_list=[]
for i in my_dict.keys():
    tup_list.append(my_dict[i])

print("Tuple List-->> ",tuple(tup_list))


    
# Q5
list_keys=[]
for i in my_dict.keys():
    list_keys.append(i)

print("List Keys-->> ",list_keys)

Enter the paragraph-->> The mysteries of Isis were religious initiation rites performed in the cult of the goddess Isis in the Greco-Roman world. Alluding to the worship of Isis from ancient Egyptian religion, they were modeled on other mystery rites, particularly the Eleusinian mysteries, which honored the Greek goddess Demeter. By undergoing the mystery rites, initiates signaled their dedication to Isis. Many texts from the Roman Empire refer to the Isis mysteries, but the only source to describe them is a work of fiction, the novel The Golden Ass, written in the second century by Apuleius. In it, the initiate undergoes ritual purification before descending into the innermost part of Isis's temple, where he experiences a symbolic death and rebirth and has an intense religious experience
Tuple List-->>  ('raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja', 'raja')
List Keys-->>  ['but', 'into', 'dedication', 'only', 'experience', 'Apuleius.', 'which', 'Many', 'an', 'symbolic', 'fiction,', 'Alluding', 'them', 'Roman', 'initiation', 'the', 'in', 'where', 'By', 'rebirth', 'Eleusinian', 'innermost', 'Greco-Roman', 'particularly', 'and', 'mysteries,', 'death', 'refer', 'descending', 'Ass,', 'religious', 'century', 'undergoing', 'part', 'intense', 'were', 'performed', 'describe', 'Isis.', 'written', 'second', 'other', 'to', 'modeled', 'is', 'Greek', 'honored', 'mystery', 'novel', 'source', 'he', 'initiate', 'a', 'has', 'mysteries', 'by', 'ritual', 'rites,', 'In', 'worship', 'on', 'Egyptian', 'it,', 'initiates', 'Golden', 'Isis', 'before', 'signaled', 'texts', 'temple,', 'purification', 'of', 'goddess', 'world.', 'ancient', 'The', 'from', 'Demeter.', 'their', 'work', 'Empire', 'experiences', 'cult', 'undergoes', 'rites', "Isis's", 'religion,', 'they']

In [168]:
paragph = input("Enter the para:")
lst1=paragph.split(" ")
s1=set(lst1)
dic1=dict.fromkeys(s1,'raj')
t1=tuple(dic1.keys())
l2=list(dic1.values())

Enter the para:The mysteries of Isis were religious initiation rites performed in the cult of the goddess Isis in the Greco-Roman world. Alluding to the worship of Isis from ancient Egyptian religion, they were modeled on other mystery rites, particularly the Eleusinian mysteries, which honored the Greek goddess Demeter. By undergoing the mystery rites, initiates signaled their dedication to Isis. Many texts from the Roman Empire refer to the Isis mysteries, but the only source to describe them is a work of fiction, the novel The Golden Ass, written in the second century by Apuleius. In it, the initiate undergoes ritual purification before descending into the innermost part of Isis's temple, where he experiences a symbolic death and rebirth and has an intense religious experience

In [174]:
#answer1
print(lst1)

['The', 'mysteries', 'of', 'Isis', 'were', 'religious', 'initiation', 'rites', 'performed', 'in', 'the', 'cult', 'of', 'the', 'goddess', 'Isis', 'in', 'the', 'Greco-Roman', 'world.', 'Alluding', 'to', 'the', 'worship', 'of', 'Isis', 'from', 'ancient', 'Egyptian', 'religion,', 'they', 'were', 'modeled', 'on', 'other', 'mystery', 'rites,', 'particularly', 'the', 'Eleusinian', 'mysteries,', 'which', 'honored', 'the', 'Greek', 'goddess', 'Demeter.', 'By', 'undergoing', 'the', 'mystery', 'rites,', 'initiates', 'signaled', 'their', 'dedication', 'to', 'Isis.', 'Many', 'texts', 'from', 'the', 'Roman', 'Empire', 'refer', 'to', 'the', 'Isis', 'mysteries,', 'but', 'the', 'only', 'source', 'to', 'describe', 'them', 'is', 'a', 'work', 'of', 'fiction,', 'the', 'novel', 'The', 'Golden', 'Ass,', 'written', 'in', 'the', 'second', 'century', 'by', 'Apuleius.', 'In', 'it,', 'the', 'initiate', 'undergoes', 'ritual', 'purification', 'before', 'descending', 'into', 'the', 'innermost', 'part', 'of', "Isis's", 'temple,', 'where', 'he', 'experiences', 'a', 'symbolic', 'death', 'and', 'rebirth', 'and', 'has', 'an', 'intense', 'religious', 'experience']

In [170]:
#answer2
print(s1)

{'but', 'into', 'dedication', 'only', 'experience', 'Apuleius.', 'which', 'Many', 'an', 'symbolic', 'fiction,', 'Alluding', 'them', 'Roman', 'initiation', 'the', 'in', 'where', 'By', 'rebirth', 'Eleusinian', 'innermost', 'Greco-Roman', 'particularly', 'and', 'mysteries,', 'death', 'refer', 'descending', 'Ass,', 'religious', 'century', 'undergoing', 'part', 'intense', 'were', 'performed', 'describe', 'Isis.', 'written', 'second', 'other', 'to', 'modeled', 'is', 'Greek', 'honored', 'mystery', 'novel', 'source', 'he', 'initiate', 'a', 'has', 'mysteries', 'by', 'ritual', 'rites,', 'In', 'worship', 'on', 'Egyptian', 'it,', 'initiates', 'Golden', 'Isis', 'before', 'signaled', 'texts', 'temple,', 'purification', 'of', 'goddess', 'world.', 'ancient', 'The', 'from', 'Demeter.', 'their', 'work', 'Empire', 'experiences', 'cult', 'undergoes', 'rites', "Isis's", 'religion,', 'they'}

In [175]:
#answer3
print(dic1)

{'but': 'raj', 'into': 'raj', 'dedication': 'raj', 'only': 'raj', 'experience': 'raj', 'Apuleius.': 'raj', 'which': 'raj', 'Many': 'raj', 'an': 'raj', 'symbolic': 'raj', 'fiction,': 'raj', 'Alluding': 'raj', 'them': 'raj', 'Roman': 'raj', 'initiation': 'raj', 'the': 'raj', 'in': 'raj', 'where': 'raj', 'By': 'raj', 'rebirth': 'raj', 'Eleusinian': 'raj', 'innermost': 'raj', 'Greco-Roman': 'raj', 'particularly': 'raj', 'and': 'raj', 'mysteries,': 'raj', 'death': 'raj', 'refer': 'raj', 'descending': 'raj', 'Ass,': 'raj', 'religious': 'raj', 'century': 'raj', 'undergoing': 'raj', 'part': 'raj', 'intense': 'raj', 'were': 'raj', 'performed': 'raj', 'describe': 'raj', 'Isis.': 'raj', 'written': 'raj', 'second': 'raj', 'other': 'raj', 'to': 'raj', 'modeled': 'raj', 'is': 'raj', 'Greek': 'raj', 'honored': 'raj', 'mystery': 'raj', 'novel': 'raj', 'source': 'raj', 'he': 'raj', 'initiate': 'raj', 'a': 'raj', 'has': 'raj', 'mysteries': 'raj', 'by': 'raj', 'ritual': 'raj', 'rites,': 'raj', 'In': 'raj', 'worship': 'raj', 'on': 'raj', 'Egyptian': 'raj', 'it,': 'raj', 'initiates': 'raj', 'Golden': 'raj', 'Isis': 'raj', 'before': 'raj', 'signaled': 'raj', 'texts': 'raj', 'temple,': 'raj', 'purification': 'raj', 'of': 'raj', 'goddess': 'raj', 'world.': 'raj', 'ancient': 'raj', 'The': 'raj', 'from': 'raj', 'Demeter.': 'raj', 'their': 'raj', 'work': 'raj', 'Empire': 'raj', 'experiences': 'raj', 'cult': 'raj', 'undergoes': 'raj', 'rites': 'raj', "Isis's": 'raj', 'religion,': 'raj', 'they': 'raj'}

In [176]:
#answer4
print(l2)

['raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj', 'raj']

In [177]:
#answer5
print(t1)

('but', 'into', 'dedication', 'only', 'experience', 'Apuleius.', 'which', 'Many', 'an', 'symbolic', 'fiction,', 'Alluding', 'them', 'Roman', 'initiation', 'the', 'in', 'where', 'By', 'rebirth', 'Eleusinian', 'innermost', 'Greco-Roman', 'particularly', 'and', 'mysteries,', 'death', 'refer', 'descending', 'Ass,', 'religious', 'century', 'undergoing', 'part', 'intense', 'were', 'performed', 'describe', 'Isis.', 'written', 'second', 'other', 'to', 'modeled', 'is', 'Greek', 'honored', 'mystery', 'novel', 'source', 'he', 'initiate', 'a', 'has', 'mysteries', 'by', 'ritual', 'rites,', 'In', 'worship', 'on', 'Egyptian', 'it,', 'initiates', 'Golden', 'Isis', 'before', 'signaled', 'texts', 'temple,', 'purification', 'of', 'goddess', 'world.', 'ancient', 'The', 'from', 'Demeter.', 'their', 'work', 'Empire', 'experiences', 'cult', 'undergoes', 'rites', "Isis's", 'religion,', 'they')

In [179]:
d = {"company":"ineuron" ,"course": "full stack data science" , "year" : 2021}

In [180]:
"course" in d

True

In [181]:
for i in d :
    if i == 'year':
        if d[i] > 2021:
            print("year is fine ")
        else :
            d[i] = 2022

In [182]:
d

{'company': 'ineuron', 'course': 'full stack data science', 'year': 2022}

In [183]:
my_dict = {}
for i in range(10):
    my_dict[i] = i *i

In [184]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [185]:
{i:i*i for i in range(0,10,3)}

{0: 0, 3: 9, 6: 36, 9: 81}