In [1]:
a =20
b =30
a+b

50

In [2]:
#funstions are usually written for the code reusability for the creator and to the community
#some of the complex code can't be understood by everyone
def test(x,y):
    print(x+y)

In [3]:
test(23,45)

68

In [4]:
#when you give the print in a function, the value that will be returned is None type
type(test(2,3))

5

NoneType

In [5]:
b =test(65,89)

154

In [6]:
type(b)

NoneType

In [7]:
def test1(b,m):
    return b*m

In [8]:
a = test1(5,9)

In [10]:
#when you use return type in the definition of the function it gives us a particular data type
type(a)

int

In [11]:
def test2(t,n,m):
    return t+n
    return n+m

In [13]:
#only first return statement is taken into consideration
test2(89,65,78)

154

In [15]:
test2(2,1,3)

3

In [16]:
#functon with multiple outputs in return
def test3(n,m):
    return n*10,m*40,m+n

In [17]:
#this will return the output in tuple as we given multiple arguments in return 
test3(2,7)

(20, 280, 9)

In [18]:
#this kind of assignments helps us more in dl,cv and object detection techniques
c,x,v = test3(2,7)

In [19]:
c

20

In [20]:
x

280

In [21]:
v

9

In [22]:
#place holders
c,x,_ = test3(2,7)

In [23]:
c

20

In [24]:
x

280

In [25]:
# this is used to assign the unimportant value into just kind of a garbage value
_

280

In [27]:
_,_,m =test3(2,7)

In [29]:
m

9

In [30]:
_

280

In [31]:
#you can define a function with no arguments
def test():
    print('this is the first function')

In [32]:
test()

this is the first function

In [33]:
m =test()

this is the first function

In [34]:
m +"ahdfj"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [35]:
def test4():
    return "this is my first class "

In [36]:
n =test4()

In [37]:
n+"ahdsvhasdv"

'this is my first class ahdsvhasdv'

In [39]:
def test5(n):
    return n*2

In [40]:
test5([3,5,8,7])

[3, 5, 8, 7, 3, 5, 8, 7]

In [41]:
test5(64)

128

In [42]:
def test6(n):
    return n,n*2

In [43]:
b = test6([5,6,8,4,3])

In [44]:
b

([5, 6, 8, 4, 3], [5, 6, 8, 4, 3, 5, 6, 8, 4, 3])

In [45]:
b[0]

[5, 6, 8, 4, 3]

In [46]:
b[1]

[5, 6, 8, 4, 3, 5, 6, 8, 4, 3]

In [47]:
def test7(n , m = 90 ):
    return n + m

In [48]:
test7(50,56)

106

In [49]:
def boolx(x = True , y = False):
    return x + y

In [50]:
boolx()

1

In [51]:
boolx(False)

0

In [52]:
boolx(False,7)

7

In [53]:
True+False

1

In [54]:
def travel( bike = True , car = False ) : 
    plan_travel = bike or car 
    return bike , car , plan_travel

In [55]:
travel()

(True, False, True)

In [56]:
travel(car=True)

(True, True, True)

In [57]:
travel(_,True)

(280, True, 280)

In [58]:
_

280

In [59]:
#*args are used to pass any number of arguments
def test11(*args ):
    return args

In [60]:
test11("sudhanshu" , "kumar ", 34,[34,4,4,5,454,54])

('sudhanshu', 'kumar ', 34, [34, 4, 4, 5, 454, 54])

In [61]:
def test12(a , b , c ):
    return a + b + c

In [62]:
test12([1,2,3,4] , [4,5,6,7] , [4,5,6,78])

[1, 2, 3, 4, 4, 5, 6, 7, 4, 5, 6, 78]

In [63]:
#this function is used to append any number of lists together
def test13(*args):
    l = []
    for i in args:
        l = l + i
    return l

In [64]:
test13([3,4,5,6] , [3,4,5,6,7] , [3,4,5,6])

[3, 4, 5, 6, 3, 4, 5, 6, 7, 3, 4, 5, 6]

In [65]:
test13([4,5,6,6],[4,5,6,7])

[4, 5, 6, 6, 4, 5, 6, 7]

In [70]:
def test14(*args):
    return [i for i in args]

In [71]:
test14([4,5,6,6],[4,5,6,7])

[[4, 5, 6, 6], [4, 5, 6, 7]]

In [72]:
#you can't pass heterogeneous datatypes to misuse the function
test13("fdsfdsf" , 234,[3,4,5,6,7,8] , [5,7,7,8,9])

TypeError: can only concatenate list (not "str") to list

In [73]:
#function only appends the list 
def test15(*args):
    l = []
    for i in args:
        if type(i) == list:
            
            l = l + i
    return l

In [74]:
test15("fdsfdsf" , 234,[3,4,5,6,7,8] , [5,7,7,8,9])

[3, 4, 5, 6, 7, 8, 5, 7, 7, 8, 9]

In [75]:
#**kwargs only takes the key value pairs as the input and gives the output as the dictionary
def test16(**kwargs):
    return kwargs

In [76]:
test16(4,56,56)

TypeError: test16() takes 0 positional arguments but 3 were given

In [77]:
test16(a = 8 , b = True , c = [4,5,6,6,"kumar"] , d = "sudh")

{'a': 8, 'b': True, 'c': [4, 5, 6, 6, 'kumar'], 'd': 'sudh'}

In [78]:
def test17(*args):
    return args

In [79]:
test17(4,5,6,7, "sudh" , [4,5,6,7,8])

(4, 5, 6, 7, 'sudh', [4, 5, 6, 7, 8])

In [80]:
type(3+5j)

complex

In [82]:
#1 seperate each data type 
def fun1(*args):
    a=[]
    b=[]
    c=[]
    d=[]
    e=[]
    f=[]
    g=[]
    h=[]
    for i in args:
        if type(i)==int:
            a.append(i)
        if type(i)==float:
            b.append(i)
        if type(i)==str:
            c.append(i)
        if type(i)==tuple:
            d.append(i)
        if type(i)==list:
            e.append(i)
        if type(i)==dict:
            f.append(i)
        if type(i)==bool:
            g.append(i)
        if type(i)==complex:
            h.append(i)
    return a,b,c,d,e,f,g,h

In [83]:
fun1(3,4,5,6,6,7.45,True ,False , [4,5,6,7,8,9] , [4,5,6,7,8,90] , 4+5j)

([3, 4, 5, 6, 6],
 [7.45],
 [],
 [],
 [[4, 5, 6, 7, 8, 9], [4, 5, 6, 7, 8, 90]],
 [],
 [True, False],
 [(4+5j)])

In [84]:
#print the list of numbers in arguments using *args, **kwargs
def fun2(*args,**kwargs):
    l=[i for i in args if type(i) == list ]
    d=[i[1] for i in kwargs.items() if type(i[1]) == list ]
    return l,d

In [85]:
fun2([4,5,6,7,8] , [5,6,7,8,9,0] , 5,5,6,7, a = 5 , b = "fsdfds" , m = [4,5,6,7])

([[4, 5, 6, 7, 8], [5, 6, 7, 8, 9, 0]], [[4, 5, 6, 7]])

In [86]:
def test18(**kwargs):
    for i in kwargs.items():
        if type(i[1])== list :
            if "sudh" in i[1] :
                print("i am able to find your name in input data ")
                print(i[1])
    return kwargs

In [87]:
test18(b =6 , c = [4,5,6,7] , d = ["sudh" , "kumar " , 5.67], n = 6 + 7j)

i am able to find your name in input data
['sudh', 'kumar ', 5.67]

{'b': 6, 'c': [4, 5, 6, 7], 'd': ['sudh', 'kumar ', 5.67], 'n': (6+7j)}

In [88]:
d ={'b': 6, 'c': [4, 5, 6, 7], 'd': ['sudh', 'kumar ', 5.67], 'n': (6+7j)}

In [89]:
d.values()

dict_values([6, [4, 5, 6, 7], ['sudh', 'kumar ', 5.67], (6+7j)])

In [90]:
def func1(*args):
  dt = {}
  for i in args:
    if type(i) in dt:
      dt[type(i)].append(i)
    else:
      dt[type(i)] = [i]
  return dt
    
func1(1,2,3,[5,6,7],'hi','io', 6+7j , 6+4j)

{int: [1, 2, 3],
 list: [[5, 6, 7]],
 str: ['hi', 'io'],
 complex: [(6+7j), (6+4j)]}