In [1]:
notes =5
i =1
while i<notes:
    print(i)
    i+=1
else:
    print("no 10rupees notes are available")

1
2
3
4
no 10rupees notes are available

In [4]:
notes =5
i =1
j=1
while i<notes:
    print(i)
    i+=1
else:
    while j<2:
        print(i)
        j = j+1
    print("no 10rupees notes are available")

1
2
3
4
5
no 10rupees notes are available

In [6]:
s = "raja"
print(s[0])
print(s)
print(s[20])

r
raja

IndexError: string index out of range

In [7]:
s = "my name is raja"
s[3]

'n'

In [8]:
s[3:10]

'name is'

In [10]:
#step size default is 1
s[3:10:1]

'name is'

In [11]:
s[3:10:2]

'nm s'

In [13]:
#you can't travel in the reverse direction
s[10:3]

''

In [18]:
#reversal of the string
s[10:2:-1]

' si eman'

In [19]:
s[::-1]

'ajar si eman ym'

In [20]:
s[2:-6]

' name i'

In [21]:
s = 'sudh'
s[0]

's'

In [23]:
s ='my name is raja kocherlakota'
s

'my name is raja kocherlakota'

In [24]:
for i in s:
    print(i)

m
y

n
a
m
e

i
s

r
a
j
a

k
o
c
h
e
r
l
a
k
o
t
a

In [25]:
for i in s:
    print(i)
else:
    print('this is else condition')

m
y

n
a
m
e

i
s

r
a
j
a

k
o
c
h
e
r
l
a
k
o
t
a
this is else condition

In [26]:
for i in s:
    if i == 'n':
        break
    print(i)
else:
    if i==j:
        print('last char was j')
    print('this is else condition')

m
y

In [28]:
for i in s:
    if i == 'n':
        continue
    print(i)
else:
    if i=='j':
        print('last char was j')
    print('this is else condition')

m
y

a
m
e

i
s

r
a
j
a

k
o
c
h
e
r
l
a
k
o
t
a
this is else condition

In [30]:
s = 'ineuron'
ss=''
for i in range(len(s)):
    if s[i]=='n':
        continue
    else:
        ss = ss + s[i]

In [31]:
ss

'ieuro'

In [33]:
n =7
for i in range(0,n):
    for j in range(0,i +1):
        print('+', end ="")
    print('\r')

+
++
+++
++++
+++++
++++++
+++++++

In [ ]:
"""
print the following pattern
            * * * * * * * * 
             * * * * * * * 
              * * * * * * 
               * * * * * 
                * * * * 
                 * * * 
                  * * 
                   * 
"""

In [35]:
def pattern(n):
    k = 2*n-2
    for i in range(n,-1,-1):
        for j in range(k,0,-1):
            print(end=' ')
        k = k+1
        for j in range(0,i+1):
            print("*",end=" ")
        print("\r")

In [36]:
pattern(7)

            * * * * * * * *
             * * * * * * *
              * * * * * *
               * * * * *
                * * * *
                 * * *
                  * *
                   *

In [37]:
userInput = int(input("Please enter the amount of rows: "))

row = 0
while(row < userInput):
    row += 1
    spaces = userInput - row

    spaces_counter = 0
    while(spaces_counter < spaces):
        print(" ", end='')
        spaces_counter += 1

    num_stars = 2*row-1
    while(num_stars > 0):
        print("*", end='')
        num_stars -= 1

    print()

Please enter the amount of rows: 7
      *
     ***
    *****
   *******
  *********
 ***********
*************

In [39]:
n =7
i=0
while i < n :
    print(' '*(n-i-1) + '* '*(i+1))
    i +=1

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [40]:
l = list()

In [41]:
name = "raja"
phn =356463416
addr="agddj"

In [48]:
l =['raja',356463416,'agddj', True,45+8j,[3,5,8,"dfgjh"]]

In [43]:
l[0]

'raja'

In [44]:
l[1]

356463416

In [45]:
l[2]

'agddj'

In [46]:
l1=[]
type(l1)

list

In [47]:
l2=list()
type(l2)

list

In [49]:
for i in l:
    print(i,type(i))

raja <class 'str'>
356463416 <class 'int'>
agddj <class 'str'>
True <class 'bool'>
(45+8j) <class 'complex'>
[3, 5, 8, 'dfgjh'] <class 'list'>

In [51]:
for i in l:
    if type(i)==list:
        for  j in i:
            if type(j) == int:
                print(j, type(j))

3 <class 'int'>
5 <class 'int'>
8 <class 'int'>

In [52]:
for i in l :
    if type(i) == list:
        n = 0
        for  j in i :
            if type(j) == int :
                n = n + j
        print(n)
                
        print(type(j))

16
<class 'str'>

In [53]:
l[80 :3:-1]

[[3, 5, 8, 'dfgjh'], (45+8j)]

In [54]:
l[80 :3:1]

[]

In [57]:
for i in range(4,10):
    print(i)

4
5
6
7
8
9

In [56]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
len(l)

6